/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
target/

# rspec failure tracking
.rspec_status
.idea/
.rake_tasks~

# node subproject
node_modules/
ruby_node_task*
spec/examples.json